{
  "admin-user-reports": {
    "search": {
      "type": "none"
    },
    "model": "org.ekstep.analytics.job.report.StateAdminReportJob",
    "modelParams": {
      "sparkCassandraConnectionHost": "{{core_cassandra_host}}",
      "sparkElasticsearchConnectionHost": "{{sunbird_es_host}}"
    },
    "output": [
      {
        "to": "console",
        "params": {
          "printEvent": false
        }
      }
    ],
    "parallelization": 8,
    "appName": "Admin User Reports",
    "deviceMapping": false
  },
  "admin-geo-reports": {
    "search": {
      "type": "none"
    },
    "model": "org.ekstep.analytics.job.report.StateAdminGeoReportJob",
    "modelParams": {
      "sparkCassandraConnectionHost": "{{core_cassandra_host}}",
      "sparkElasticsearchConnectionHost": "{{sunbird_es_host}}"
    },
    "output": [
      {
        "to": "console",
        "params": {
          "printEvent": false
        }
      }
    ],
    "parallelization": 8,
    "appName": "Admin Geo Reports",
    "deviceMapping": false
  },
  "course-enrollment-report":{
    "search": {
        "type": "none"
      },
      "model": "org.ekstep.analytics.model.report.CourseEnrollmentJob",
      "modelParams": {
        "reportConfig": {
          "id": "tpd_metrics",
          "metrics" : [],
          "labels": {
            "completionCount": "Completion Count",
            "status": "Status",
            "enrollmentCount": "Enrollment Count",
            "courseName": "Course Name",
            "batchName": "Batch Name"
          },
          "output": [{
            "type": "csv",
            "dims": []
          }]
        },
        "esConfig": {
        "request": {
                "filters":{
                    "objectType": ["Content"],
                    "contentType": ["Course"],
                    "identifier": [],
                    "status": ["Live"]
                },
                "limit": 10000
            }
        },
        "store": "{{dp_object_store_type}}",
        "format":"csv",
        "key": "druid-reports/",
        "filePath": "druid-reports/",
        "container": "{{ bucket }}",
        "folderPrefix": ["slug", "reportName"],
        "sparkCassandraConnectionHost":"{{core_cassandra_host}}",
        "sparkElasticsearchConnectionHost":"{{sunbird_es_host}}"
    },
    "output": [{
      "to": "console",
      "params": {
        "printEvent": false
      }
    }],
    "parallelization": 8,
    "appName": "TPD Course Enrollment Metrics Model",
    "deviceMapping": false
  },
  "course-consumption-report":{
    "search": {
      "type": "none"
    },
    "model": "org.ekstep.analytics.model.report.CourseConsumptionJob",
    "modelParams": {
      "esConfig": {
        "request": {
          "filters": {
            "objectType": ["Content"],
            "contentType": ["Course"],
            "identifier": [],
            "status": ["Live"]
          }
        }
      },
      "reportConfig": {
        "id": "tpd_metrics",
        "labels": {
          "date": "Date",
          "status": "Batch Status",
          "timespent": "Timespent in mins",
          "courseName": "Course Name",
          "batchName": "Batch Name"
        },
        "dateRange": {
          "staticInterval": "LastDay",
          "granularity": "all"
        },
        "metrics": [{
          "metric": "totalCoursePlays",
          "label": "Total Course Plays (in mins) ",
          "druidQuery": {
            "queryType": "groupBy",
            "dataSource": "summary-events",
            "intervals": "LastDay",
            "aggregations": [{
              "name": "sum__edata_time_spent",
              "type": "doubleSum",
              "fieldName": "edata_time_spent"
            }],
            "dimensions": [{
              "fieldName": "object_rollup_l1",
              "aliasName": "courseId"
            }, {
              "fieldName": "uid",
              "aliasName": "userId"
            }, {
              "fieldName": "context_cdata_id",
              "aliasName": "batchId"
            }],
            "filters": [{
              "type": "equals",
              "dimension": "eid",
              "value": "ME_WORKFLOW_SUMMARY"
            }, {
              "type": "in",
              "dimension": "dimensions_pdata_id",
              "values": ["{{ producer_env }}.app", "{{ producer_env }}.portal"]
            }, {
              "type": "equals",
              "dimension": "dimensions_type",
              "value": "content"
            }, {
              "type": "equals",
              "dimension": "dimensions_mode",
              "value": "play"
            }, {
              "type": "equals",
              "dimension": "context_cdata_type",
              "value": "batch"
            }],
            "postAggregation": [{
              "type": "arithmetic",
              "name": "timespent",
              "fields": {
                "leftField": "sum__edata_time_spent",
                "rightField": 60,
                "rightFieldType": "constant"
              },
              "fn": "/"
            }],
            "descending": "false"
          }
        }],
        "output": [{
          "type": "csv",
          "metrics": ["timespent"],
          "dims": []
        }],
        "queryType": "groupBy"
      },
      "store": "{{dp_object_store_type}}",
      "format":"csv",
      "key": "druid-reports/",
      "filePath": "druid-reports/",
      "container": "{{ bucket }}",
      "folderPrefix": ["slug", "reportName"],
      "sparkCassandraConnectionHost":"{{core_cassandra_host}}",
      "sparkElasticsearchConnectionHost":"{{sunbird_es_host}}"
    },
    "output": [{
      "to": "console",
      "params": {
        "printEvent": false
      }
    }],
    "parallelization": 8,
    "appName": "TPD Course Consumption Metrics Model",
    "deviceMapping": false
  },
  "audit-metrics-report": {
      "search": {
        "type": "none"
      },
      "model": "org.ekstep.analytics.model.MetricsAuditJob",
      "modelParams": {
        "auditConfig": [
          {
            "name": "denorm",
            "search": {
              "type": "{{dp_object_store_type}}",
              "queries": [
                {
                  "bucket": "{{ bucket }}",
                  "prefix": "telemetry-denormalized/raw/",
                  "startDate": "$(date --date yesterday '+%Y-%m-%d')",
                  "endDate": "$(date --date yesterday '+%Y-%m-%d')"
                }
              ]
            },
            "filters": [
              {
                "name": "flags.user_data_retrieved",
                "operator": "EQ",
                "value": true
              },
              {
                "name": "flags.content_data_retrieved",
                "operator": "EQ",
                "value": true
              },
              {
                "name": "flags.device_data_retrieved",
                "operator": "EQ",
                "value": true
              },
              {
                "name": "flags.dialcode_data_retrieved",
                "operator": "EQ",
                "value": true
              },
              {
                "name": "flags.collection_data_retrieved",
                "operator": "EQ",
                "value": true
              },
              {
                "name": "flags.derived_location_retrieved",
                "operator": "EQ",
                "value": true
              }
            ]
          },
          {
            "name": "failed",
            "search": {
              "type": "{{dp_object_store_type}}",
              "queries": [
                {
                  "bucket": "{{ bucket }}",
                  "prefix": "failed/",
                  "startDate": "$(date --date yesterday '+%Y-%m-%d')",
                  "endDate": "$(date --date yesterday '+%Y-%m-%d')"
                }
              ]
            }
          },
          {
            "name": "unique",
            "search": {
              "type": "{{dp_object_store_type}}",
              "queries": [
                {
                  "bucket": "{{ bucket }}",
                  "prefix": "unique/",
                  "startDate": "$(date --date yesterday '+%Y-%m-%d')",
                  "endDate": "$(date --date yesterday '+%Y-%m-%d')"
                }
              ]
            }
          },
          {
            "name": "raw",
            "search": {
              "type": "{{dp_object_store_type}}",
              "queries": [
                {
                  "bucket": "{{ bucket }}",
                  "prefix": "raw/",
                  "startDate": "$(date --date yesterday '+%Y-%m-%d')",
                  "endDate": "$(date --date yesterday '+%Y-%m-%d')"
                }
              ]
            }
          },
          {
            "name": "channel-raw",
            "search": {
              "type": "{{dp_object_store_type}}",
              "queries": [
                {
                  "folder": true,
                  "bucket": "{{ bucket }}",
                  "prefix": "channel/*/raw/",
                  "startDate": "$(date --date yesterday '+%Y-%m-%d')",
                  "endDate": "$(date --date yesterday '+%Y-%m-%d')*.json.gz"
                }
              ]
            }
          },
          {
            "name": "channel-summary",
            "search": {
              "type": "{{dp_object_store_type}}",
              "queries": [
                {
                  "folder": true,
                  "bucket": "{{ bucket }}",
                  "prefix": "channel/*/summary/",
                  "startDate": "$(date --date yesterday '+%Y-%m-%d')",
                  "endDate": "$(date --date yesterday '+%Y-%m-%d')*.json.gz"
                }
              ]
            }
          },
          {
            "name": "derived",
            "search": {
              "type": "{{dp_object_store_type}}",
              "queries": [
                {
                  "bucket": "{{ bucket }}",
                  "prefix": "derived/wfs/",
                  "startDate": "$(date --date yesterday '+%Y-%m-%d')",
                  "endDate": "$(date --date yesterday '+%Y-%m-%d')"
                }
              ]
            }
          },
          {
            "name": "telemetry-count",
            "search": {
              "type": "druid",
              "druidQuery": {
                "queryType": "timeSeries",
                "dataSource": "telemetry-events",
                "intervals": "LastDay",
                "aggregations": [
                  {
                    "name": "total_count",
                    "type": "count",
                    "fieldName": "count"
                  }
                ],
                "descending": "false"
              }
            }
          },
          {
            "name": "summary-count",
            "search": {
              "type": "druid",
              "druidQuery": {
                "queryType": "timeSeries",
                "dataSource": "summary-events",
                "intervals": "LastDay",
                "aggregations": [
                  {
                    "name": "total_count",
                    "type": "count",
                    "fieldName": "count"
                  }
                ],
                "descending": "false"
              }
            }
          }
        ]
      },
      "output": [
        {
          "to": "kafka",
          "params": {
            "brokerList": "{{ brokerlist }}",
            "topic": "{{ metrics_topic }}"
          }
        }
      ],
      "parallelization": 8,
      "appName": "Metrics Audit"
  }
}