**/.idea
**/target
**/__pycache__
.DS_Store
venv/*
target
adhoc-scripts/.settings
*.log
**/dependency-reduced-pom.xml
lern-data-products/.settings
lern-data-products/lern-data-products*.iml
lern-data-products/reports
lern-data-products/logs
lern-data-products/sourcing
lern-data-products/druid-reports
lern-data-products/report-backups
lern-data-products/src/test/resources/exhaust-reports
lern-data-products/src/test/resources/druid-reports
**/bin/*
